
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 140px auto 110px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header"
        "body"
        "footer";
}



html, body , .container {
    height: 100%;
    margin: 0;
    font-family: 'Heebo', sans-serif;

}

/* HEADER */

header { 
    grid-area: header;
    width: 100vw; 
    box-shadow: 0px 3px 3px lightgrey;
}
#logo {
    height: 100px;
}

header nav .desktop {
    font-family: 'Oswald', sans-serif;
    color: #0066a6;
    display: inline;
    font-size: 25px;
}

header #desktop a:link, 
header #desktop a:visited, 
header #desktop a:hover, 
header #desktop a:active, 
#dropdown-content a:link, 
#dropdown-content a:visited, 
#dropdown-content a:hover, 
#dropdown-content a:active{
    text-decoration: none;
}

header #desktop a:hover p, 
#dropdown-content a:hover p {
    color: #333333;
}

/* Makes the cursor the not alowed symbol on the dead menu items */
header #desktop > p {
    cursor:not-allowed;
}

header nav .phone {
    display: none;
}

header #desktop {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    height: 140px;
}

#dropdown-content {
    grid-area: nav;
    display: none;
    overflow: scroll;
    flex-direction: column;
    /* height: calc(100% -250px); */
    height: 100%;
        /* Calculates the height of the screen - the header height */
}

#dropdown-content #about-options {
    display: none;
    flex-direction: column;
}

#dropdown-content #programmes-options {
    display: none;
    flex-direction: column;
}



#dropdown-content button {
    background-color: transparent;
    border: none;
    text-align: left;
    display: block;
}

#dropdown-content p {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    margin-left: 15px;
    margin-right: 15px;
    color: #0066a6;
    border-bottom: solid 2px #e5e5e5;
    margin-block-end: 0;
    margin-block-start: 0;
    padding-top: 15px;
    z-index: 2;
}

#dropdown-content #about-options p , 
#dropdown-content #programmes-options p {
    margin-left: 50px;
}
/* #dropdown-content p:hover {
    background-color: #e5e5e5;
} */

/* MAIN BODY */
main { 
    grid-area: body; 
    width: 100vw;
    display: block;
    
}


/* FOOTER */
footer { 
    grid-area: footer;
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
 }

 footer > div {
    display: inline;
 }


footer #badges-left {
    display: flex;
    width: 290px;
    justify-content: space-between;
    padding-left: 20px;
}

footer #badges-left img{
    width: 80px;
    height: 80px;
}

footer #contact-us button {
    width: 300px;
    height: 56px;
    font-family: 'Oswald', sans-serif;
    font-size: 200%;
    background-color: #ee7669;
    border: none;
    color: #333333;
}

.copyright {
    color: white;
    font-size: 8pt;
    padding-top: 5px;
    margin: 0 0 0 0;
    display: none;
}

footer #contact-us .copyright {
    display: block;
    
}

 footer #contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
} 

footer #badges-right {
    display: flex;
    width: 280px;
    justify-content: space-between;
    padding-right: 20px;
}

footer #badges-right img{
    height: 60px;
}

/* When the screen becomes phone sized, we add an extra grid area (auto sizing) 
to hold the navigation menu that appeasr when you click on the menu button */
@media screen and (max-width: 600px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 140px auto auto 250px;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "header"
            "nav"
            "body"
            "footer";
    }
    
    header nav .desktop {
        display: none;
    }

    header nav .phone {
        display: block;
        font-size: 20pt;
        color: #0066a6;
    }

    header nav #menu {
        order: -1;
        border: none;
        background-color:transparent;
    }

    header nav #menu:hover #dropdown-content {
        display: block;
    }

    header #desktop {
        height: 140px;
        width: auto;
    }

    header nav img {
        display: block;
        margin: 0 auto;
    }

    footer {
        flex-direction: column;
        justify-content: space-around;
    }

    

    .copyright {
        display: block;
        margin-top: -10px;
        text-align: center;
        /* background-color: aqua; */

    }

    footer #contact-us .copyright {
        display: none;
    }

    footer #contact-us {
        order: -2;
    }

    footer #badges-left, footer #badges-right {
        padding: 0;
    }

    footer #badges-right img {
        width: 30px;
        height: 30px;
    }

    footer #badges-right {
        width: 40vw;
        /* background-color: aquamarine; */
    }

    footer #badges-left{
        padding: 5px 0;
        width: 70vw;
        /* background-color: azure; */
    }

    
}